* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


h1 {
    font-size: 50px;
    color: red;
    font-weight: bold;
    z-index: 1;
}


.center-img {
    position: absolute;
    bottom: 30px;        
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    cursor: pointer;
}
